.big-grid {
    padding: 20px;
    line-height: 20px;

    display: grid;

    grid-gap: 20px;

    grid-template-columns: repeat(auto-fill, 120px);

    grid-template-rows: repeat(auto-fill, 120px);

    height: 100vh;
}

.chapitre-container {
    grid-column: 2 /span 3;
    grid-row: 2 / span 5;

}

.input-box {
    grid-column: 2 /span 2;
    grid-row: 1 /span 1;
}