nav ul {
    list-style: decimal;
    margin: 0 0 0px;
    padding-left: 20px;
    /* border: 1px dotted black;
    border-width: 0 0 1px 0; */
}

// nav li:hover {
//     font-style: italic;
// }

nav li {
    /* border: 1px dotted black;
    border-width: 0 0 1px 0; */
    /* padding: 5px 0px 5px 0; */
}

nav>ul>li>ul {
    list-style: none;
    /* padding: 5px; */
}

[draggable] {
    // user-select: none;
}

// nav li>* {
//     pointer-events: none;
// }

.sub-list {
    display: none;
    text-align: end;
    padding-left: 0px;
}

.list-pad {
    font-size: 0.8em;
}

.drag {
width: 200px;
background-color: red;
height: 20px;
    cursor: move;
//    user-select: none;
//  margin-right: 15px;
 }

 nav li {
       background-color: #383838;
       padding: 10px 20px;
       position: relative;
       display: flex;
       align-items: flex-start;
       line-height: 1;
 }