@import '../components/navbar.scss';
@import "../components/reset.scss";
@import "../components/grid.scss";

body,
html {
  /* font-family: "tsukurimashou" ; */
  margin: 0;
  padding: 0;
  color: #000;
  font-family: sans-serif;
  background-color: #dcdcdc
}


section {
  box-sizing: border-box;
  /* border: 0 dotted #000; */
  /* border-width: 1px 1px 1px; */
  overflow: hidden;
  overflow-y: scroll;
}

p {
  padding: 0;
  margin: 0;
  padding-top: 20px;
  border-width: 0 0 1px;
  border-color: #000;
  border-style: dotted
}

ul {
  padding: 0;
  margin: 0;
  padding-left: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

blockquote {
  margin-bottom: 0;
  margin-top: 0
}

.show {
  display: block !important;
}
